<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST 쇼핑몰</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/fonts.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script/script.js"></script>
    
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo">JUST 쇼핑몰</h1>
            <nav>
                <ul>
                    <li><a href="#">탑</a>
                        <ul class="submenu">
                            <li><a href="#">블라우스</a></li>
                            <li><a href="#">티</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">니트</a></li>
                        </ul>
                    </li>
                    <li><a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="#">자켓</a></li>
                            <li><a href="#">코트</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">머플러</a></li>
                        </ul>
                    </li>
                    <li><a href="#">팬츠</a>
                        <ul class="submenu">
                            <li><a href="#">청바지</a></li>
                            <li><a href="#">짧은바지</a></li>
                            <li><a href="#">긴바지</a></li>
                            <li><a href="#">레깅스</a></li>
                        </ul>
                    </li>
                    <li><a href="#">악세사리</a>
                        <ul class="submenu">
                            <li><a href="#">귀고리</a></li>
                            <li><a href="#">목걸이</a></li>
                            <li><a href="#">반지</a></li>
                            <li><a href="#">팔찌</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="main">
            <div id="slider_inner">
                <div class="slider_wrap">
                    <div class="slider s1">
                        <div class="slider_img">
                            <img src="img/slider01.jpg" alt="">
                        </div>
                        <div class="slider_text">
                            <h2>JUST 쇼핑몰</h2>
                            <p>50,000원 이상 구매시 무료배송!</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <div class="slider_img">
                            <img src="img/slider02.jpg" alt="">
                        </div>
                        <div class="slider_text">
                            <h2>JUST 쇼핑몰</h2>
                            <p>50,000원 이상 구매시 무료배송!</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <div class="slider_img">
                            <img src="img/slider03.jpg" alt="">
                        </div>
                        <div class="slider_text">
                            <h2>JUST 쇼핑몰</h2>
                            <p>50,000원 이상 구매시 무료배송!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contents_inner">
                <div class="info">
                    <div class="tab_menu">
                        <a href="#" class="active">공지사항</a>
                        <a href="#">갤러리</a>
                    </div>
                    <div class="tab_cont">
                        <div class="notice">
                            <ul>
                                <li><a href="#">저스트 쇼핑몰 배송안내 공지</a><span>2023.10.20</span></li>
                                <li><a href="#">저스트 쇼핑몰 배송안내 공지</a><span>2023.10.20</span></li>
                                <li><a href="#">저스트 쇼핑몰 배송안내 공지</a><span>2023.10.20</span></li>
                                <li><a href="#">저스트 쇼핑몰 배송안내 공지</a><span>2023.10.20</span></li>
                                <li><a href="#">저스트 쇼핑몰 배송안내 공지</a><span>2023.10.20</span></li>
                            </ul>
                        </div>
                        <div class="gallery">
                            <ul>
                                <li><a href="#"><img src="img/gallery01.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/gallery02.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/gallery03.jpg" alt=""></a></li>
                            </ul>
                        </div>    
                    </div>
                    
                </div>
                <div class="banner">
                    <h3>JUST 무료배송 이벤트</h3>
                    <a href="#">바로가기</a>
                </div>
                <div class="link">
                    <h3>JUST Best템 모아보기</h3>
                    <a href="#">바로가기</a>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer01">
                <h2 class="logo2">JUST 쇼핑몰</h2>
            </div>
            <div class="footer02">
                <div class="footer02-1">
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">저자권보호정책</a></li>
                        <li><a href="#">이메일무단수집거부</a></li>
                        <li><a href="#">CCTV설치 및 운영지침</a></li>
                    </ul>
                </div>
                <div class="footer02-2">
                    COPYRIGHT 2023, All Rights Reseved
                </div>
            </div>
            <div class="footer03">
                <ul>
                    <li><a href="#"><img src="img/sns01.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/sns02.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/sns03.jpg" alt=""></a></li>
                </ul>
            </div>
        </footer>    
    </div>
    
</body>
</html>